<!-- login and logout page -->
<md-input-container>
    <label>Email</label>
    <input type="email" ng-model="email" ng-required>
</md-input-container>
<md-input-container>
    <label>Password</label>
    <input type="password" ng-model="password" ng-required>
</md-input-container>
<md-button class="md-raised" ng-click="emailLogin()">Login</md-button>

<md-button class="md-raised" ng-click="logout()">Logout</md-button>
