<md-input-container>
    <label>Book name</label>
    <input ng-model="searchName">
</md-input-container>
<md-button class="md-raised" ng-click="search()">Search</md-button>

<a href="#!/login">Login</a>

<!-- list the book name and author and if it is a favourite book -->
<md-list>
    <md-list-item ng-repeat="book in books">
        <p>{{book.book_name}} - {{book.author}}</p>
        <md-switch ng-if="firebaseUser" ng-model="$parent.book.favourite" ng-change="updateFavourite(book.id, book.favourite)"></md-switch>
    </md-list-item>
</md-list>
