<!-- if not login -> display login btn  -->
<a ng-if="!firebaseUser" href="#!/login">Login</a>


<!-- if login -> show favourite book and notes -->
<md-list ng-if="firebaseUser">
  <md-list-item ng-repeat="favourite in favourites" class="md-2-line">
      <div class="md-list-item-text">
        <h3>{{favourite.book_name}} - {{favourite.author}}</h3>
        <h4>{{favourite.notes}}</h4>
      </div>
      <md-button ng-click="editNotes(favourite.id, favourite.notes, $index, $event)" class="md-secondary">Edit Notes</md-button>
      <md-button ng-click="removeFavourite(favourite.id, $index)" class="md-secondary">Remove</md-button>
  </md-list-item>
</md-list>
